{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
<h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.
    <br>
    <br>
    <!-- On affiche les informations ci dessous seulement si le panier n'est pas vide -->
    <!-- Cart|length  permet de compter le nombre de case dans un tableau -->
    {% if cart|length > 0 %}
        <table class="table mt-3 table-hover">
            <thead>
            <tr>
                <th scope="col" colspan="2">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% set quantite = 0 %}
            {% for product in cart %}
            <tr>

                <td>
                    <img src="/uploads/{{ product.product.illustration }}" height="80px">&nbsp;
                </td>

                <td>
                    <!-- Notre variable du foreach s'appelle product et elle contient un product qui est un objet produit -->
                    {{ product.product.name }}<br>
                    <small>{{ product.product.subtitle }}</small>
                </td>

                <td>
                    <a href="{{ path('decrease_to_cart', { 'id' : product.product.id }) }}">
                        <img src="{{ asset('assets/img/minus.png')}}" height="12px" alt="Enlever une quantite a mon produit">
                    </a>
                    &nbsp; {{ product.quantity }} &nbsp;
                    <a href="{{ path('add_to_cart', { 'id' : product.product.id }) }}">
                        <img src="{{ asset('assets/img/plus.png')}}" height="12px" alt="Ajouter une quantite a mon produit">
                    </a>
                </td>

                <td>
                    {{ (product.product.price / 100)|number_format(2)}}€
                </td>

                <td>
                    {{ ((product.product.price * product.quantity) /100)|number_format(2) }}€
                </td>

                <td>
                    <a href="{{ path('delete_to_cart', { 'id' : product.product.id }) }}">
                        <img src="{{ asset('assets/img/delete.png')}}" height="20px" alt="Supprimer mon produit">
                    </a>
                </td>

            </tr>
                <!-- On incremente la variable total en fonction des objets de notre tableau -->
                {% set total = total + (product.product.price * product.quantity) %}
                {% set quantite = quantite + product.quantity %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right text-center">
            <b>Nombre de produits total:</b> {{ quantite }} <br>
            <b>Total de mon panier:</b> {{ (total /100)|number_format(2) }}€ <br>
            <a href="{{ path('order') }}" class="btn btn-secondary mt-3">Valider mon panier</a>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide</b></p>
    {% endif %}
{% endblock %}
