{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form)}}
        </div>
        <div class="col-md-9">
            <h3 class="text-center">Nos produits </h3>

            <div class="row product-container" width="10" >
                <!--On récupère tout les produits passé en paramètre et on appel chaque produit produit. Il suffit alors d'appeler product.laColonne pour afficher les informations de la base de données -->
                {% for product in products %}
                    <div class="col-md-4"> 
                        <div class="product-item"> 
                            <a href="{{ path('products', {'slug':product.slug }) }}"><img src="/projetCommerce/public/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"  ></a>
                            <h5>{{ product.name }}</h5>
                            <span calss='product-subtitle'>{{ product.subtitle }}</span>
                            <!-- Symfony fais toujours le prix fois 100 donc on doit le diviser, ensuite on demande a symfony de mettre deux chiffres après la virgules -->
                            <span class='product-price'>{{ (product.price / 100)|number_format(2)}} €</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
