.{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande sur le ProjetCommerce
        (attention vous êtes sur un projet, aucun des articles ne sera livré et vous ne devez renseigner aucune informations prersonnelle)</p>
    <hr>
    <div class="row mb-3">
        <div class="col-md-6">
            <!-- Permet de lire le html (par exemple dans l'entity order on a marque [br] grâce a set formhtml les br seront des retour à la ligne-->
            {% set formHtml %}
                <!-- Permet de spécifier une action -->
                {{ form_start(form,{action:path('order_recap')}) }}
                    {{ form_label(form.adresses, 'Choisissez votre adresse de livraison') }}
                <a href="{{ path('account_address_add') }}"> Ajouter une nouvelle adresse</a>
                {{ form_end(form) }}
            {% endset %}
            <!-- fonction qui permet de dire qu'il faut remplacer -->
            {{ formHtml|replace({'[br]':'<br/>'})|raw }}
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Récapitulatif de ma commande</b><br>
            </div>

            <div class="order-summary">
                {% for key,product in cart %}
                    <!-- quand on est sur le prochain produit(pas le premier) on met une margin top pour espace le recap des produit -->
                    <div class="row {% if key > 0 %} mt-2 {% endif %}" >
                        <div class="col-3">  <img src="/uploads/{{ product.product.illustration }}" height="80px"></div>
                        <div class="col-4 my-auto">
                            {{ product.product.name }}<br>
                            <small>{{ product.product.subtitle }}</small>
                        </div>
                        <div class="col my-auto"> x {{ product.quantity }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
